<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partial/head") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <%- include("./partial/nev1") %>

    <div class="container">
        <form action="/user/signup" method="POST">
            <fieldset >
              <legend>Sign up</legend>
              <div class="mb-3">
                <label for="enableTextInput" class="form-label">Full Name</label>
                <input type="text" id="enableTextInput" name="fullname" class="form-control" placeholder="enter">
              </div>
              <div class="mb-3">
                <label for="enableTextInput" class="form-label">Email</label>
                <input type="text" id="enableTextInput" name="email" class="form-control" placeholder="enter">
              </div>
              <div class="mb-3">
                <label for="enableTextInput" class="form-label">Passward</label>
                <input type="password" id="enableTextInput" name="passward" class="form-control" placeholder="enter">
              </div>
              <div class="mb-3">
                <label for="disabledSelect" class="form-label">Role</label>
                <select id="disabledSelect" name="role" class="form-select">
                  <option>USER</option>
                  <option>ADMIN</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
          </form>
    </div>

    <%- include("./partial/script") %>
</body>
</html>